extends layout/layout
block vars
  - var title = 'Главная'
block header
  include modules/header
block main
  include modules/index/main
block footer
  include modules/footer
block scripts
  include modules/index/scripts